
Saavn_User_Clustering/Clustering/target/Clustering-0.0.1-SNAPSHOT-jar-with-dependencies.jar
Saavn_User_Clustering/Clustering/target/Clustering-0.0.1-SNAPSHOT-jar-with-dependencies.jar
Saavn_User_Clustering/userClickStreamActivity/mysampledata.txt
Saavn_User_Clustering/userClickStreamActivity/sample100mb.csv
